<!DOCTYPE html>
<html>
<head>
  <title>Visual Reaction Time</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
    var test = {
        results: [],
        ctx: document.getElementById('main').getContext("2d"),
        min_ms: 2000,
        max_ms: 5000,
        start_trial: function(){
            var t = this;
            var callback = function(){t.trigger()};
            setTimeout(callback, this.min_ms + (Math.random() * (this.max_ms - this.min_ms)))
        },
        trigger: function(){
            var t=this;
            this.ctx.fillStyle = "#000000";
            this.ctx.fillRect(0, 0 , 800, 600);
            var start_ms = new Date().getTime();
            $("#main").one('click', function(){
                var end_ms = new Date().getTime();
                var reaction_time = end_ms - start_ms;
                t.result_callback(reaction_time)
                
                t.ctx.clearRect(0, 0 , 800, 600);
                t.start_trial()
            });

        },
        result_callback: function(result){
            this.results.push(result);
            $("#result-table tbody").append("<tr><td>" + this.results.length + "</td><td>" + result + "</td></tr>");
            if(this.results.length >= 5){
                $("#submit-results").show()
            }
        },
        submit_results: function(){
            var $results = $("#results");
            $.each(this.results, function(ii, result){
                $results.append("<input type='hidden' name='results' value=\"" + result + "\" />");
            });
            $results.submit();
        },
    }
    $("#submit-results").bind('click', function(){test.submit_results()});
    test.start_trial();
});
        

</script>
</head>
<body>

<div style="margin:auto; width: 800px; height: 600px; border: solid black 1px; padding: 10px;">
  <canvas id="main" width="800" height="600"></canvas>
</div>

<table id="result-table">
  <caption>Results</caption>
  <thead>
    <tr>
      <th>Trial</th>
      <th>Reaction Time(ms)</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div style="display: none;cursor:pointer;text-align: center; margin: 15;" id="submit-results">
Submit Results
</div>

<form id="results" style="display: none;" action="" method="post">
</form>

</body>
</html>
